<nav class="navbar navbar-expand bg-dark user-select-none">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/">Notepad</a>
    <a class="nav-item dropdown-item laptop-screens text-white" aria-current="page" routerLink="/about">About</a>
    <ul class="navbar-nav">
      <div class="left-nav-items">
        <li class="nav-item d-flex justify-content-right align-items-center mx-3">

          <span *ngIf="theme === 'light-theme'" class="bi bi-moon-stars text-white" (click)="switchTheme()"></span>

          <span *ngIf="theme === 'dark-theme'" class="bi bi-sun" (click)="switchTheme()"></span>

        </li>

        <li *ngIf="auth.user$ | async as user; else anonymousUser" class="nav-item dropdown MyDropdown1">

          <div class="d-flex align-items-center">
            <img class="user-image" *ngIf="user.photoURL" [src]="user.photoURL" />
          </div>

          <a mat-button [matMenuTriggerFor]=" menu" class="nav-link dropdown-toggle text-white laptop-screens" id="
            navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.displayName}}
          </a>

          <mat-menu class="laptop-screens" #menu="matMenu">
            <a class="dropdown-item mobile-screens" mat-menu-item aria-current="page" routerLink="/about">About</a>
            <a *ngIf="isAdmin" class="dropdown-item text-white" routerLink="/admin" mat-menu-item>Admin</a>
            <a class="dropdown-item text-danger" (click)="openConfirmationDialog()" mat-menu-item>Log Out</a>
          </mat-menu>

        </li>

        <li class="nav-item dropdown MyDropdown1 mobile-screens">

          <mat-icon class="nav-link text-white triple-dots" mat-button [matMenuTriggerFor]=" menu">
            more_vert
          </mat-icon>

          <mat-menu class="mobile-screens" #menu="matMenu">
            <a class="dropdown-item text-white" mat-menu-item aria-current="page" routerLink="/about">About</a>
            <a *ngIf="isAdmin" class="dropdown-item text-white" routerLink="/admin" mat-menu-item>Admin</a>
            <a *ngIf="auth.user$ | async as user" class="dropdown-item text-danger" (click)="openConfirmationDialog()"
              mat-menu-item>Log
              Out</a>
          </mat-menu>

        </li>

        <ng-template #anonymousUser>

          <li class="nav-item mx-2">
            <button class="nav-link btn btn-primary text-white px-3" aria-current="page"
              routerLink="/login">Login</button>
          </li>

        </ng-template>
      </div>
    </ul>
    <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary btn-outline-success text-white" type="submit">Search</button>
      </form> -->
    <!-- <li class="nav-item navbar-nav mb-2 mb-lg-0 laptop-screens">
      <button class="nav-link btn btn-primary text-white mx-3 px-3" aria-current="page"
        routerLink="/login">Login</button>
    </li> -->
  </div>
</nav>
<router-outlet></router-outlet>