body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.2s ease;
}

.mobile-screens {
    cursor: pointer;

    @media (min-width: 992px) {
        display: none;
    }
}

.laptop-screens {
    cursor: pointer;

    @media (max-width: 993px) {
        display: none !important;
    }
}