<nav class="navbar navbar-expand-lg bg-dark user-select-none">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/">Notepad</a>
    <div class="mobile-screens">
      <span *ngIf="theme === 'light-theme'" class="bi bi-moon-stars text-white" (click)="switchTheme()"></span>
      <span *ngIf="theme === 'dark-theme'" class="bi bi-sun" (click)="switchTheme()"></span>
    </div>
    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon navbar-dark"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white mx-3" aria-current="page" routerLink="/about">About</a>
        </li>
        <li class="nav-item d-flex justify-content-right align-items-center laptop-screens">
          <span *ngIf="theme === 'light-theme'" class="bi bi-moon-stars text-white" (click)="switchTheme()"></span>
          <span *ngIf="theme === 'dark-theme'" class="bi bi-sun" (click)="switchTheme()"></span>
        </li>
        <!-- <li class="nav-item loginm">
          <button class="nav-link btn btn-primary disabled text-white text-center px-3" aria-current="page"
            routerLink="">Login</button>
        </li> -->
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary btn-outline-success text-white" type="submit">Search</button>
      </form> -->
    </div>
    <!-- <li class="nav-item navbar-nav mb-2 mb-lg-0 loginl laptop-screens">
      <button class="nav-link btn btn-primary disabled text-white mx-3 px-3" aria-current="page"
        routerLink="">Login</button>
    </li> -->
  </div>
</nav>
<router-outlet></router-outlet>