body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.2s ease;
}

.mobile-screens {
    @media (min-width: 769px) {
        display: none !important;
    }
}

.laptop-screens {
    @media (max-width: 769px) {
        display: none !important;
    }
}

.MyDropdown1 {
    display: flex;
    justify-content: right;
}

.left-nav-items {
    display: flex;
    flex-direction: row;
}

.user-image {
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
}

.triple-dots {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 40px !important;
    font-size: 30px !important;
}