.icon {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 60px;
    height: 60px;
    right: 20px;
    bottom: 20px;
}

.clearall {
    display: flex;
    justify-content: center;
}