<section *ngIf="addNoteSection">

    <app-add-note (noteAdd)="addNote($event)" (noteDiscard)="discardNote($event)"></app-add-note>

</section>

<section *ngIf="editNoteSection">

    <app-edit-note (noteEdit)="editNote($event)" [indexNote]="editCurrentNote" (noteDiscard)="discardNote($event)">
    </app-edit-note>

</section>


<section *ngIf="!addNoteSection && !editNoteSection">

    <h3 class="container my-4 text-center user-select-none">Your Notes</h3>

    <div *ngIf="this.notes.length===0; else elseBlock">
        <h5 class="container text-center user-select-none">No Notes To Display</h5>
    </div>

    <ng-template #elseBlock>
        <div class=" center-block clearall user-select-none">
            <button class="btn btn-warning btn-sm my-2 mb-4" (click)="openConfirmationDialog(0)">Clear All</button>
        </div>
        <ul class="container" *ngFor="let note of notes; let i= index">
            <app-note-item [note]="note" [index]="i" (noteDelete)="openConfirmationDialog(1, $event)"
                (buttonEdit)="editPage($event)">
            </app-note-item>
        </ul>
    </ng-template>

    <div class="display-5 bg-danger rounded-circle position-fixed icon user-select-none" (click)="adeeb()">
        <mat-icon>add</mat-icon>
    </div>


</section>