<section *ngIf="addNoteSection">

    <app-add-note (noteAdd)="addNote($event)" (noteDiscard)="discardNote($event)"></app-add-note>

</section>

<section *ngIf="editNoteSection">

    <app-edit-note (noteEdit)="editNote($event)" [indexNote]="editCurrentNote" (noteDiscard)="discardNote($event)">
    </app-edit-note>

</section>


<section *ngIf="!addNoteSection && !editNoteSection" class="user-select-none position-relative notes-container">

    <h3 class="container my-4 text-center">Your Notes</h3>

    <div *ngIf="this.notes.length===0; else elseBlock">
        <h5 class="container text-center">No Notes To Display</h5>
    </div>

    <ng-template #elseBlock>
        <ul class="container" *ngFor="let note of notes; let i= index">
            <app-note-item [note]="note" [index]="i" (noteDelete)="deleteNote($event)" (buttonEdit)="editPage($event)">
            </app-note-item>
        </ul>
    </ng-template>

    <div class="display-5 bg-danger text-white rounded-circle position-fixed icon">
        <span class="bi bi-plus" (click)="adeeb()"></span>
    </div>


</section>