.icon {
    box-shadow: 0 4px 8px 0 rgba(220, 53, 70, 0.790), 0 6px 20px 0 rgba(220, 53, 69, 0.790);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 60px;
    height: 60px;
    right: 20px;
    bottom: 20px;
}

.clearall {
    display: flex;
    justify-content: center;
}